<!-- Banner content -->
<!-- Banner content -->

<div class="banner" style="background:url(../../../../assets/ressources/img/oaks-18.jpg);">
    <div class="banner-content">
        <div class="banner-title">
            <h1>Our events</h1>
            <h3>Impact the world with gospel of the kingdom. </h3>
        </div>
    </div>
</div>

<!-- Banner content -->
<!-- Banner content -->


<!-- Event content -->
<!-- Event content -->

<div class="events">
    <div class="events-content page-contenair pt-pb">
        <div class="default-title center">
            <h1>Our sermons</h1>
        </div>

        <div class="default-search">
            <div class="group-form">
                <input type="search" name="" id="" placeholder="search for a event...">
                <span class="icon-search"></span>
            </div>
            <div class="icon-filter filter-mobile" (click)="filterMobile()"></div>
        </div>

        <div class="media-flex">
            <div class="media-search">
                <div class="media-header">
                    <div class="speak-title">
                        <h3>Title events</h3>
                    </div>

                    <div class="group-form">
                        <input type="text" name="" id="" placeholder="Search event">
                        <span class="icon-search"></span>
                    </div>
                </div>

                <div class="media-bottom">
                    <div class="speak-title">
                        <h3>Year</h3>
                    </div>

                    <div class="group-form">
                        <select name="" id="">
                            <option value="">Search by year</option>
                            <option value="">2019</option>
                            <option value="">2020</option>
                            <option value="">2021</option>
                            <option value="">2022</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="media-box">
                <div class="carousel-event-card">
                    <div class="event-image">
                        <img src="../../../../assets/ressources/img/oaks-8.jpg" alt="">
                    </div>
                    <div class="event-section">
                        <div class="event-date">
                            <span>8 : 00 am - 11 : 30 am</span>
                        </div>
                        <div class="event-text">
                            <div class="event-title">
                                <h3>Sharing Our Faith & Gospel</h3>
                                <p><span class="icon-user"></span> by pastor : <abbr>Jerry simon</abbr></p>
                            </div>
                            <div class="event-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias libero
                                    provident,
                                    dignissimos esse possimus enim. Ipsum obcaecati assumenda quibusdam
                                    inventore saepe
                                    unde quam accusantium. Culpa nesciunt deleniti voluptate ullam a!</p>
                            </div>
                            <div class="default-btn">
                                <a href="#">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-event-card">
                    <div class="event-image">
                        <img src="../../../../assets/ressources/img/oaks-8.jpg" alt="">
                    </div>
                    <div class="event-section">
                        <div class="event-date">
                            <span>8 : 00 am - 11 : 30 am</span>
                        </div>
                        <div class="event-text">
                            <div class="event-title">
                                <h3>Sharing Our Faith & Gospel</h3>
                                <p><span class="icon-user"></span> by pastor : <abbr>Jerry simon</abbr></p>
                            </div>
                            <div class="event-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias libero
                                    provident,
                                    dignissimos esse possimus enim. Ipsum obcaecati assumenda quibusdam
                                    inventore saepe
                                    unde quam accusantium. Culpa nesciunt deleniti voluptate ullam a!</p>
                            </div>
                            <div class="default-btn">
                                <a href="#">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-event-card">
                    <div class="event-image">
                        <img src="../../../../assets/ressources/img/oaks-8.jpg" alt="">
                    </div>
                    <div class="event-section">
                        <div class="event-date">
                            <span>8 : 00 am - 11 : 30 am</span>
                        </div>
                        <div class="event-text">
                            <div class="event-title">
                                <h3>Sharing Our Faith & Gospel</h3>
                                <p><span class="icon-user"></span> by pastor : <abbr>Jerry simon</abbr></p>
                            </div>
                            <div class="event-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias libero
                                    provident,
                                    dignissimos esse possimus enim. Ipsum obcaecati assumenda quibusdam
                                    inventore saepe
                                    unde quam accusantium. Culpa nesciunt deleniti voluptate ullam a!</p>
                            </div>
                            <div class="default-btn">
                                <a href="#">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-event-card">
                    <div class="event-image">
                        <img src="../../../../assets/ressources/img/oaks-8.jpg" alt="">
                    </div>
                    <div class="event-section">
                        <div class="event-date">
                            <span>8 : 00 am - 11 : 30 am</span>
                        </div>
                        <div class="event-text">
                            <div class="event-title">
                                <h3>Sharing Our Faith & Gospel</h3>
                                <p><span class="icon-user"></span> by pastor : <abbr>Jerry simon</abbr></p>
                            </div>
                            <div class="event-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias libero
                                    provident,
                                    dignissimos esse possimus enim. Ipsum obcaecati assumenda quibusdam
                                    inventore saepe
                                    unde quam accusantium. Culpa nesciunt deleniti voluptate ullam a!</p>
                            </div>
                            <div class="default-btn">
                                <a href="#">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>

<!-- Event content -->
<!-- Event content -->