<!-- Banner content -->
<!-- Banner content -->

<div class="banner" style="background:url(../../../../assets/ressources/img/6.jpg);">
    <div class="banner-content">
        <div class="banner-title">
            <h1>Our sermons</h1>
            <h3>Impact the world with gospel of the kingdom. </h3>
        </div>
    </div>
</div>

<!-- Banner content -->
<!-- Banner content -->

<!-- Sermons content -->
<!-- Sermons content -->

<div class="sermons">
    <div class="sermons-content page-contenair pt-pb">
        <div class="default-title center">
            <h1>Our sermons</h1>
        </div>

        <div class="default-search">
            <div class="group-form">
                <input type="search" name="" id="" placeholder="search for a sermon...">
                <span class="icon-search"></span>
            </div>

            <div class="icon-filter filter-mobile" (click)="filterMobile()"></div>
        </div>

        <div class="media-flex">
            <div class="media-search">
                <div class="media-header">
                    <div class="speak-title">
                        <h3>Speakers</h3>
                    </div>

                    <div class="group-form">
                        <input type="text" name="" id="" placeholder="Search speaker">
                        <span class="icon-search"></span>
                    </div>
                </div>

                <div class="searching-saves">
                    <div class="search-only">Pastor Daniel</div>
                    <div class="search-only">Holly Furtick</div>
                    <div class="search-only">Pastor Robert Madu</div>
                    <div class="search-only">Bishop T.D. Jakes</div>
                    <div class="search-only">Lisa Harper</div>
                </div>

                <div class="media-bottom">
                    <div class="speak-title">
                        <h3>Year</h3>
                    </div>

                    <div class="group-form">
                        <select name="" id="">
                            <option value="">Search by year</option>
                            <option value="">2019</option>
                            <option value="">2020</option>
                            <option value="">2021</option>
                            <option value="">2022</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="media-box">
                <div class="carousel-card media-card">
                    <div class="carousel-image">
                        <img src="../../../../assets/ressources/img/2.jpg" alt="">
                        <a routerLink="/site/single" class="carousel-btn">
                            <span class="icon-play-1"></span>
                        </a>
                    </div>
                    <div class="carousel-body">
                        <h3>Your trial produce victory</h3>
                        <p>
                            A small river named Duden flows by their place and supplies it with the necessary.
                        </p>

                        <div class="small-text">
                            <span class="date">July 01, 2021 12 : 25</span>
                            <span class="publish"> Published by : John Doe</span>
                        </div>
                    </div>
                </div>

                <div class="carousel-card media-card">
                    <div class="carousel-image">
                        <img src="../../../../assets/ressources/img/2.jpg" alt="">
                        <a routerLink="/site/single" class="carousel-btn">
                            <span class="icon-play-1"></span>
                        </a>
                    </div>
                    <div class="carousel-body">
                        <h3>Your trial produce victory</h3>
                        <p>
                            A small river named Duden flows by their place and supplies it with the necessary.
                        </p>

                        <div class="small-text">
                            <span class="date">July 01, 2021 12 : 25</span>
                            <span class="publish"> Published by : John Doe</span>
                        </div>
                    </div>
                </div>

                <div class="carousel-card media-card">
                    <div class="carousel-image">
                        <img src="../../../../assets/ressources/img/2.jpg" alt="">
                        <a routerLink="/site/single" class="carousel-btn">
                            <span class="icon-play-1"></span>
                        </a>
                    </div>
                    <div class="carousel-body">
                        <h3>Your trial produce victory</h3>
                        <p>
                            A small river named Duden flows by their place and supplies it with the necessary.
                        </p>

                        <div class="small-text">
                            <span class="date">July 01, 2021 12 : 25</span>
                            <span class="publish"> Published by : John Doe</span>
                        </div>
                    </div>
                </div>

                <div class="carousel-card media-card">
                    <div class="carousel-image">
                        <img src="../../../../assets/ressources/img/2.jpg" alt="">
                        <a routerLink="/site/single" class="carousel-btn">
                            <span class="icon-play-1"></span>
                        </a>
                    </div>
                    <div class="carousel-body">
                        <h3>Your trial produce victory</h3>
                        <p>
                            A small river named Duden flows by their place and supplies it with the necessary.
                        </p>

                        <div class="small-text">
                            <span class="date">July 01, 2021 12 : 25</span>
                            <span class="publish"> Published by : John Doe</span>
                        </div>
                    </div>
                </div>

                <div class="carousel-card media-card">
                    <div class="carousel-image">
                        <img src="../../../../assets/ressources/img/2.jpg" alt="">
                        <a routerLink="/site/single" class="carousel-btn">
                            <span class="icon-play-1"></span>
                        </a>
                    </div>
                    <div class="carousel-body">
                        <h3>Your trial produce victory</h3>
                        <p>
                            A small river named Duden flows by their place and supplies it with the necessary.
                        </p>

                        <div class="small-text">
                            <span class="date">July 01, 2021 12 : 25</span>
                            <span class="publish"> Published by : John Doe</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
<!-- Sermons content -->
<!-- Sermons content -->