<nav class="nav">
    <div class="nav-content page-contenair">
        <div class="nav-logo">
            <a href="#">
                <!-- <span class="icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480"
                        style="enable-background:new 0 0 480 480;" xml:space="preserve">
                        <g id="XMLID_521_">
                            <g>
                                <g>
                                    <path d="M470,460h-40v-20c0-11.028-8.972-20-20-20h-10V189.889c11.215-1.125,20-10.618,20-22.124
				c0-8.572-5.011-16.469-12.768-20.119L250,73.654V50h10c5.523,0,10-4.477,10-10s-4.477-10-10-10h-10V10c0-5.523-4.477-10-10-10
				s-10,4.477-10,10v20h-10c-5.523,0-10,4.477-10,10s4.477,10,10,10h10v23.654L72.767,147.646C65.011,151.296,60,159.193,60,167.765
				c0,11.506,8.785,21,20,22.124V420H70c-11.028,0-20,8.972-20,20v20H10c-5.523,0-10,4.477-10,10s4.477,10,10,10h460
				c5.523,0,10-4.477,10-10S475.523,460,470,460z M81.283,165.742L240,91.052l158.716,74.69c0.78,0.367,1.284,1.161,1.284,2.023
				c0,1.232-1.003,2.235-2.235,2.235H390c-5.523,0-10,4.477-10,10v240h-30v-20c0-11.028-8.972-20-20-20V260c0-11.028-8.972-20-20-20
				H170c-11.028,0-20,8.972-20,20v120c-11.028,0-20,8.972-20,20v20h-30V180c0-5.523-4.477-10-10-10h-7.765
				c-1.232,0-2.235-1.003-2.235-2.235C80,166.903,80.504,166.109,81.283,165.742z M310,260v120h-60V260H310z M230,260v120h-60V260
				H230z M410,460H70v-20h70c5.523,0,10-4.477,10-10v-30h180v30c0,5.523,4.477,10,10,10h70V460z" />
                                    <path d="M240,210c19.299,0,35-15.701,35-35s-15.701-35-35-35s-35,15.701-35,35S220.701,210,240,210z M240,160
				c8.271,0,15,6.729,15,15s-6.729,15-15,15s-15-6.729-15-15S231.729,160,240,160z" />
                                </g>
                            </g>
                        </g>
                    </svg>

                </span>
                <h2>The Oaks of Righteousness</h2> -->
                <img src="../assets/ressources/logo/Logo_ccexpress_opt.png" alt="The Oaks of Righteousness">
            </a>
        </div>
        <div class="nav-links">
            <ul>
                <li class="active">
                    <a routerLink="/site/home" class="link">Home</a>
                </li>
                <li>
                    <a href="#" class="link">About Pastor</a>
                </li>
                <li>
                    <a routerLink="/site/ministries" class="link">Ministries</a>
                </li>
                <li>
                    <button type="button" class="link">
                        <span class="title">Media</span>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                                <polyline points="112 184 256 328 400 184"
                                    style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px" />
                            </svg>
                        </span>
                    </button>
                    <div class="dropdown">
                        <a routerLink="/site/sermons">Sermons</a>
                        <a routerLink="/site/galerie">Gallery</a>
                        <a routerLink="/site/events">Events</a>
                        <a routerLink="/site/testimonials">testimonials</a>
                    </div>
                </li>
                <!-- <li>
                    <button type="button" class="link">
                        <span class="title">Conferences & Events</span>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                                <polyline points="112 184 256 328 400 184"
                                    style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px" />
                            </svg>
                        </span>
                    </button>
                </li> -->
                <li>
                    <a href="/site/contact" class="link">Contact us</a>
                </li>
                <li>
                    <a href="#" class="link donate">Donate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Naviagtion responsive -->
<!-- Naviagtion responsive -->

<nav class="nav-responsive">
    <div class="nav-logo">
        <a href="#">
            <!-- <span class="icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480"
                    style="enable-background:new 0 0 480 480;" xml:space="preserve">
                    <g id="XMLID_521_">
                        <g>
                            <g>
                                <path d="M470,460h-40v-20c0-11.028-8.972-20-20-20h-10V189.889c11.215-1.125,20-10.618,20-22.124
            c0-8.572-5.011-16.469-12.768-20.119L250,73.654V50h10c5.523,0,10-4.477,10-10s-4.477-10-10-10h-10V10c0-5.523-4.477-10-10-10
            s-10,4.477-10,10v20h-10c-5.523,0-10,4.477-10,10s4.477,10,10,10h10v23.654L72.767,147.646C65.011,151.296,60,159.193,60,167.765
            c0,11.506,8.785,21,20,22.124V420H70c-11.028,0-20,8.972-20,20v20H10c-5.523,0-10,4.477-10,10s4.477,10,10,10h460
            c5.523,0,10-4.477,10-10S475.523,460,470,460z M81.283,165.742L240,91.052l158.716,74.69c0.78,0.367,1.284,1.161,1.284,2.023
            c0,1.232-1.003,2.235-2.235,2.235H390c-5.523,0-10,4.477-10,10v240h-30v-20c0-11.028-8.972-20-20-20V260c0-11.028-8.972-20-20-20
            H170c-11.028,0-20,8.972-20,20v120c-11.028,0-20,8.972-20,20v20h-30V180c0-5.523-4.477-10-10-10h-7.765
            c-1.232,0-2.235-1.003-2.235-2.235C80,166.903,80.504,166.109,81.283,165.742z M310,260v120h-60V260H310z M230,260v120h-60V260
            H230z M410,460H70v-20h70c5.523,0,10-4.477,10-10v-30h180v30c0,5.523,4.477,10,10,10h70V460z" />
                                <path d="M240,210c19.299,0,35-15.701,35-35s-15.701-35-35-35s-35,15.701-35,35S220.701,210,240,210z M240,160
            c8.271,0,15,6.729,15,15s-6.729,15-15,15s-15-6.729-15-15S231.729,160,240,160z" />
                            </g>
                        </g>
                    </g>
                </svg>

            </span>
            <h2>The Oaks of Righteousness</h2> -->
            <img src="../assets/ressources/logo/small.png" alt="The Oaks of Righteousness">
        </a>
    </div>

    <div class="nav-toggle">
        <span></span><span></span><span></span>
    </div>

    <div class="links">
        <div class="header-link">
            <h3>The Oaks of Righteousness</h3>
            <div class="nav-cancel">
                <span></span><span></span>
            </div>
        </div>
        <a routerLink="/site/home" class="link">Home</a>

        <a href="#" class="link">About Pastor</a>

        <a routerLink="/site/ministries" class="link">Ministries</a>

        <button type="button" class="link accordion">
            <span class="title">Media</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                    <polyline points="112 184 256 328 400 184"
                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px" />
                </svg>
            </span>
        </button>
        <div class="dropdown">
            <a routerLink="/site/sermons">Sermons</a>
            <a routerLink="/site/galerie">Gallery</a>
            <a routerLink="/site/events">Events</a>
            <a routerLink="/site/testimonials">testimonials</a>
        </div>
        <button type="button" class="link accordion">
            <span class="title">Conferences & Events</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                    <polyline points="112 184 256 328 400 184"
                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px" />
                </svg>
            </span>
        </button>
        <a routerLink="/site/contact" class="link">Contact us</a>
        <a href="#" class="link donate">Donate</a>
    </div>
</nav>

<!-- Naviagtion responsive -->
<!-- Naviagtion responsive -->
