<!-- Banner content -->
<!-- Banner content -->

<div class="banner" style="background:url(../../../../assets/ressources/img/6.jpg);">
    <div class="banner-content">
        <div class="banner-title">
            <h1>Our minitries</h1>
            <h3>Impact the world with gospel of the kingdom. </h3>
        </div>
    </div>
</div>

<!-- Banner content -->
<!-- Banner content -->

<div class="ministries">
    <div class="minis-content page-contenair pt-pb">
        <div class="minis-flex">
            <div class="minis-box">
                <div class="minis-image">
                    <img src="../../../../assets/ressources/img/8.jpg" alt="">
                </div>
                <div class="minis-text">
                    <h2>Community Ministry</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quibusdam dolor laudantium.</p>

                    <a routerLink="/site/ministrie-single" class="minis-btn">More details</a>
                </div>
            </div>

            <div class="minis-box">
                <div class="minis-image">
                    <img src="../../../../assets/ressources/img/8.jpg" alt="">
                </div>
                <div class="minis-text">
                    <h2>Community Ministry</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quibusdam dolor laudantium.</p>

                    <a href="#" class="minis-btn">More details</a>
                </div>
            </div>

            <div class="minis-box">
                <div class="minis-image">
                    <img src="../../../../assets/ressources/img/8.jpg" alt="">
                </div>
                <div class="minis-text">
                    <h2>Community Ministry</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quibusdam dolor laudantium.</p>

                    <a href="#" class="minis-btn">More details</a>
                </div>
            </div>

            <div class="minis-box">
                <div class="minis-image">
                    <img src="../../../../assets/ressources/img/8.jpg" alt="">
                </div>
                <div class="minis-text">
                    <h2>Community Ministry</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quibusdam dolor laudantium.</p>

                    <a href="#" class="minis-btn">More details</a>
                </div>
            </div>

            <div class="minis-box">
                <div class="minis-image">
                    <img src="../../../../assets/ressources/img/8.jpg" alt="">
                </div>
                <div class="minis-text">
                    <h2>Community Ministry</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quibusdam dolor laudantium.</p>

                    <a href="#" class="minis-btn">More details</a>
                </div>
            </div>
        </div>
    </div>
</div>