<!-- Banner content -->
<!-- Banner content -->

<div class="banner" style="background:url(../../../../assets/ressources/img/7.jpg);">
    <div class="banner-content">
        <div class="banner-title">
            <h1>community ministry</h1>
            <h3>Impact the world with gospel of the kingdom. </h3>
        </div>
    </div>
</div>

<!-- Banner content -->
<!-- Banner content -->

<div class="bloc-default">
    <div class="bloc-default-content page-contenair pt-pb">
        <div class="default-title center">
            <h1>Welcome to community ministry</h1>
        </div>
        <div class="media-image">
            <div class="m-img">
                <img src="../../../.././assets/ressources/img/6.jpg" alt="">
            </div>
        </div>

        <div class="media-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempore perferendis fugiat tenetur,
                doloribus sed! Recusandae ipsa tempore eaque. Est hic facere fugit id nam, illo repudiandae porro iusto
                nulla!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempore perferendis fugiat tenetur,
                doloribus sed! Recusandae ipsa tempore eaque. Est hic facere fugit id nam, illo repudiandae porro iusto
                nulla!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempore perferendis fugiat tenetur,
                doloribus sed! Recusandae ipsa tempore eaque. Est hic facere fugit id nam, illo repudiandae porro iusto
                nulla!</p>
        </div>
    </div>
</div>