<app-nav></app-nav>

<div class="fixed-sociaux">
    <a href="#">
        <span class="icon-youtube-play"></span>
    </a>

    <a href="#">
        <span class="icon-instagram"></span>
    </a>

    <a href="#">
        <span class="icon-facebook"></span>
    </a>
</div>

<div class="button-top" (click)="btnTop()">
    <svg xmlns="http://www.w3.org/2000/svg" width="38.853" height="65.605"
    viewBox="0 0 38.853 65.605">
    <g id="arrow-left" transform="translate(-727.147 -5247.574)">
        <rect id="Rectangle_6" data-name="Rectangle 6" width="45.788" height="9.158"
            rx="4.579" transform="translate(727.147 5279.951) rotate(-45)" fill="#1e34d5" />
        <rect id="Rectangle_7" data-name="Rectangle 7" width="45.788" height="9.158"
            rx="4.579" transform="translate(733.623 5274.326) rotate(45)" fill="#1e34d5" />
    </g>
</svg>
</div>
<main id="main-content" #mainContent>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</main>

<app-footer></app-footer>
