<!-- Banner content -->
<!-- Banner content -->

<div class="banner" style="background:url(../../../../assets/ressources/img/oaks-18.jpg);">
    <div class="banner-content">
        <div class="banner-title">
            <h1>Single testimonial</h1>
            <h3>Impact the world with gospel of the kingdom. </h3>
        </div>
    </div>
</div>

<!-- Banner content -->
<!-- Banner content -->

<!-- Bloc Default -->
<!-- Bloc Default -->

<div class="bloc-default">
    <div class="bloc-default-content page-contenair pt-pb">
        <div class="default-title center">
            <h1>elena shaviyl's testimonial</h1>
        </div>

        <div class="media-image">
            <div class="m-img">
                <img src="../../../.././assets/ressources/img/6.jpg" alt="">
            </div>

            <div class="media-publish">
                <span><em>Publisher by : <strong>John doe</strong></em></span>
                <span><em>Pasteur by : <strong>none</strong></em></span>
                <span><em>Date : 01 / 03 / 2022</em></span>
            </div>
        </div>

        <div class="media-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempore perferendis fugiat tenetur,
                doloribus sed! Recusandae ipsa tempore eaque. Est hic facere fugit id nam, illo repudiandae porro iusto
                nulla!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempore perferendis fugiat tenetur,
                doloribus sed! Recusandae ipsa tempore eaque. Est hic facere fugit id nam, illo repudiandae porro iusto
                nulla!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempore perferendis fugiat tenetur,
                doloribus sed! Recusandae ipsa tempore eaque. Est hic facere fugit id nam, illo repudiandae porro iusto
                nulla!</p>
        </div>

        <div class="single-similar">
            <div class="single-title">
                <h2>Other testimonials</h2>
            </div>
            <div class="similar-flex">
                <a href="#" class="similar-box">
                    <div class="similar-image">
                        <img src="../../../../assets/ressources/img/6.jpg" alt="">
                    </div>

                    <div class="similar-body">
                        <h3>Elena shaviyl</h3>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </a>

                <a href="#" class="similar-box">
                    <div class="similar-image">
                        <img src="../../../../assets/ressources/img/8.jpg" alt="">
                    </div>

                    <div class="similar-body">
                        <h3>Elena shaviyl</h3>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </a>

                <a href="#" class="similar-box">
                    <div class="similar-image">
                        <img src="../../../../assets/ressources/img/8.jpg" alt="">
                    </div>

                    <div class="similar-body">
                        <h3>Elena shaviyl</h3>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </a>
                <a href="#" class="similar-box">
                    <div class="similar-image">
                        <img src="../../../../assets/ressources/img/8.jpg" alt="">
                    </div>

                    <div class="similar-body">
                        <h3>Elena shaviyl</h3>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>